body {
  margin: 0;
  font-family: "Source Sans Pro";
  background-image: url("https://pixabay.com/get/g65860fe60cb0fbdba516894ffacc21d54821214235b49adc311110041cce8316dc99ccb735e1f5182bc2f34d9de9381c_1920.jpg");
  background-position: cover;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a12bd8;
  padding: 10px 12px;
}

.navbar__logo {
  font-size: 24px;
  color: white;
}

.navbar__logo i {
  color: #d49466;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 10px 20px;
}

.navbar__menu li:hover {
  border-radius: 4px;
  padding: 7px 0px;
  background-color: #d49466;
  background-position: center;
}
.navbar__icons {
  list-style: none;
  color: white;
  display: flex;

  font-size: 20px;
}
.navbar__icons li:hover {
  border-radius: 4px;
  padding: 7px 0px;
  background-color: #d49466;
  background-position: center;
}
.navbar__icons li {
  padding: 8px 12px;
}
.navbar__togglebtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: white;
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navbar__menu li {
    width: 100%;
    padding-left: 330px;
  }
  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar__togglebtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
  .header {
    font-size: 15px;
    font-family: "Jomhuria", cursive;
  }
  .member {
    font-size: 10px;
    width: 80%;
  }
  .member__head {
    text-align: center;
  }
  .introduce {
    text-align: center;
    text-shadow: #263343;
  }
  .homeimage {
    width: 60%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 100px;
  }
}

.header {
  font-size: 70px;
  font-weight: 900;
  padding: 10px 15px;
  color: #000000;
  text-align: center;
  font-family: "Jomhuria", cursive;
}
.introduce {
  font-size: 50px;
  color: #0000ff;
  text-align: start center;
}
.member__head {
  font-size: 25px;
  text-align: center;
}
.member {
  font-size: 20px;
}
.homeimage {
  display: block;
  width: 40%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 100px;
  background-color: chartreuse;
}
.ECES {
  text-align: center;
  font-size: 30px;
}
.name {
  font-size: 15px;
  text-align: center;
}
.list {
  text-align: center;
}
.professor {
  margin: 30px;
  padding-top: 10px;
  font-size: 20px;
}
.professor__image {
  display: block;
  width: auto;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  margin-left: 40px;
}
.professor__image {
  float: left;
  margin-right: 10px;
}
.professor__intro {
  margin-left: 40px;

  font-size: 30px;
}
.intro1 {
  font-size: 30px;
}
@media screen and (max-device-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navbar__menu li {
    width: 100%;
    padding-left: 150px;
  }
  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar__togglebtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
  .header {
    font-size: 30px;
    font-family: "Jomhuria", cursive;
  }
  .member {
    font-size: 10px;
    width: 80%;
  }
  .member__head {
    text-align: center;
  }
  .introduce {
    text-align: center;
    text-shadow: #263343;
    font-size: 20px;
  }
  .homeimage {
    width: 60%;
    height: 100px;
    object-fit: cover;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50px;
  }
  .professor__image {
    display: block;
    width: auto;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 40px;
  }
  .professor__image {
    float: left;
    margin-right: 10px;
  }
  .professor__intro {
    margin-left: 20px;
  
    font-size: 20px;
  }
  .intro1 {
    font-size: 20px;
}
